<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.InterestMapper">
    <select id="getStuInterest" resultType="com.example.entity.Job">
        select * from interest inner join job
        on interest.jid=job.jid
        where sid=#{sid}
    </select>
    <insert id="addInterest" useGeneratedKeys="true" keyProperty="id" parameterType="com.example.entity.Interest">
        insert into interest (sid,jid)
            value (#{sid},#{jid})
    </insert>
</mapper>