<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.job.demo.mapper.JobMapper">
    <select id="searchAll" resultType="com.job.demo.entity.Job">
        select * from job
    </select>

    <select id="searchByTitle" resultType="com.job.demo.entity.Job">
        select * from job where title like CONCAT('%',#{title},'%')
    </select>

    <insert id="addJob" useGeneratedKeys="true" keyProperty="jid" parameterType="com.job.demo.entity.Job">
        insert into job (title,introduction,requirement,salary,bid,cid,startDate,endDate,job.state)
            value (#{title},#{introduction},#{requirement},#{salary},#{bid},#{cid},#{startDate},#{endDate},#{state})
    </insert>

    <delete id="deleteJob" parameterType="int">
        delete from job where jid=#{jid}
    </delete>

    <update id="updateJob" parameterType="com.job.demo.entity.Job">
        update job
        set title=#{title},introduction=#{introduction},requirement=#{requirement},
            salary=#{salary},job.state=#{state},startDate=#{startDate},endDate=#{endDate}
        where jid=#{jid}
    </update>
</mapper>
