<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.jobmanager.JobMapper">

    <insert id="batchImportJobInfo" parameterType="java.util.List">
        insert into job
        (busid,title,introduction,salary,workdate,job.position,nums,requirement)
        values
        <foreach item="item" collection="list" separator=",">
            (
            #{item.busid},
            #{item.title},
            #{item.introduction},
            #{item.salary},
            #{item.workdate},
            #{item.position},
            #{item.nums},
            #{item.requirement}
            )
        </foreach>
        ON DUPLICATE KEY UPDATE
        title=VALUES(title),
        salary=VALUES(salary),
        introduction=VALUES(introduction),
        job.position=VALUES(job.position),
        workdate=VALUES(workdate),
        nums=VALUES(nums),
        requirement=VALUES(requirement)
    </insert>

    <select id="searchAll" resultType="com.example.jobmanager.Job">
        select * from job
    </select>

    <select id="searchByTitle" resultType="com.example.jobmanager.Job">
        select * from job where introduction like CONCAT('%',#{title},'%')
    </select>

    <select id="searchById" resultType="com.example.jobmanager.Job">
        select * from job where busid=#{busid}
    </select>

    <insert id="addJob" useGeneratedKeys="true" keyProperty="busid" parameterType="com.example.jobmanager.Job">
        insert into job (title,introduction,requirement,salary,busid,workDate,job.state, tags, job.position,nums)
            value (#{title},#{introduction},#{requirement},#{salary},#{busid},#{workDate},#{state},#{tags},#{position},#{nums})
    </insert>

    <delete id="deleteJob" parameterType="String">
        delete from job where busid=#{busid}
    </delete>

    <update id="updateJob" parameterType="com.example.jobmanager.Job">
        update job
        set title=#{title},introduction=#{introduction},requirement=#{requirement},
            salary=#{salary},job.state=#{state},workDate=#{workDate},
            tags=#{tags},job.position=#{position},nums=#{nums}
        where busid=#{busid}
    </update>
</mapper>
