<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.jobManager.StudentCoJobMapper" >
    <insert id="add" useGeneratedKeys="true" keyProperty="id" parameterType="com.example.jobManager.Studentcojob">
        insert into Studentcojob (busid,sid,createdate,Studentcojob.state)
            value (#{busid},#{sid},now(),#{state})
    </insert>
    <update id="update" parameterType="com.example.jobManager.Studentcojob">
        update Studentcojob
        set Studentcojob.state=#{state}
        where busid=#{busid} and sid=#{sid}
    </update>
    <select id="numsOfApply" parameterType="String" resultType="Integer">
        select count(*) from  studentcojob where busid=#{busid}
    </select>
    <select id="isStuInApply" resultType="com.example.jobManager.Studentcojob">
        select * from  studentcojob where busid=#{busid} and sid=#{sid}
    </select>
    <select id="searchJobsOfStudent" resultType="com.example.jobManager.Job">
        SELECT * FROM JOB
        WHERE busid IN (
            SELECT busid FROM studentcojob
            WHERE sid=#{sid} and studentcojob.state=#{state}
        );
    </select>

    <select id="searchStudentsOfJob" parameterType="String" resultType="map">
        select * from  studentcojob inner join student on studentcojob.sid = student.sid
        where busid=#{busid}
    </select>
</mapper>